# This is the matrix, that defines the DMA SHM declaration
# permissions for the tasks. You must set it with the
# following conventions:
# - each DMA SHM declaration is to be read on a line, with
#   the emiter on the left
# - each DMA SHM peer is to be read on a column, with the
#   peer on top
# - if the value of a cell is set to 1, the share is allowed
# - any other value means that the share is not allowed
#
# This matrix is converted into a static constant matrix in
# both C and Ada.
#

comment "--------- CANSPY  CANSNIF"
comment "CANSPY     [#]      [ ]"
comment "CANSNIF    [ ]      [#]"
