# This is the matrix, that defines the IPC permissions
# for the tasks. You must set it using the following:
# - each ipc send is to be read on a line, with the
#   sender on the left
# - each ipc recieve is to be read on a column, with
#   the receiver on top
# - if the value of a cell is set to 1, IPC is allowed
# - any other value means that the share is not allowed
#
# This matrix is converted into a static constant matrix
# both in C and Ada.
#

comment "--------- CANSPY  CANSNIF"
comment "CANSPY     [#]      [1]"
comment "CANSNIF    [1]      [#]"
